
<!-- train booking Categoris Here -->
<div class="hotelbokking__categoris">
    <div class="container">
        <div class="hotelbooking__categoris__wrap spacebottom__none">
            <div class="dating__body">
                <h5 class="hoteltitle">
                   დაჯავშნეთ მატარებლის ბილეთი
                </h5>
                <div class="dating__body">
                    </div>
                    <div class="dating__body__box dating__flight">
                    <form class="row justify-content-center g-3 col-md-12" name="chooseDepartureForm" id="chooseDepartureForm" novalidate ng-submit="findDepartures()">
                            <div class="col-xxl-2 col-xl-6 col-lg-3 col-md-6 col-sm-12">
                            <div class="dating__item select__border">
                                <select name="departureFrom" required>
                                    <option value="0" disabled selected style="color:black !important;">
                                        საიდან
                                    </option>
                                    <option value="თბილისი">
                                        თბილისი
                                    </option>
                                    <option value="ბათუმი">
                                        ბათუმი
                                    </option>
                                    <option value="ფოთი">
                                        ფოთი
                                    </option>
                                </select>
                            </div>
                            </div>
                            <div class="col-xxl-2 col-xl-6 col-lg-3 col-md-6 col-sm-12">
                            <div class="dating__item select__border">
                                <select name="departureTo" required>
                                    <option value="0" disabled selected style="color:black !important;">
                                        სად
                                    </option>
                                    <option value="თბილისი">
                                       თბილისი
                                    </option>
                                    <option value="ბათუმი">
                                        ბათუმი
                                    </option>
                                    <option value="ფოთი">
                                        ფოთი
                                    </option>
                                </select>
                            </div>
                            </div>
                            <div class="col-xxl-3 col-xl-6 col-lg-3 col-md-6 col-sm-12">
                                <div class="dating__item dating__hidden">
                                    <div id="datepicker" class="input-group date" data-date-format="yyyy-mm-dd">
                                    <input class="form-control" type="text" placeholder="გამგზავრების თარიღი" readonly name="departureDate" required>
                                        <span class="calendaricon">
                                            <i class="material-symbols-outlined">
                                                calendar_month
                                            </i>
                                        </span>
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-xl-6 col-lg-3 col-md-6 col-sm-12">
                                <div class="dating__item">
                                <input class="form-control" type="text" placeholder="მგზავრების რაოდენობა" name="passengerCount" required>
                                   @* <select name="passengerCount" required>
                                    <option value="0" disabled selected style="color:black !important;">
                                        Passenger Count
                                    </option>
                                        <option value="1">
                                            1
                                        </option>
                                        <option value="2">
                                            2
                                        </option>
                                        <option value="3">
                                            3
                                        </option>
                                        <option value="4">
                                            4
                                        </option>
                                        <option value="5">
                                            5
                                        </option>
                                    </select>*@
                                </div>
                            </div>
                            <div class="col-xxl-2 col-xl-6 col-lg-3 col-md-6 col-sm-12">
                                <div class="dating__item">
                                    <button type="submit" class="cmn__btn">
                                        <span>
                                            მატარებლების მოძებნა
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
 </div>

<!-- train booking Categoris end -->
<!-- train ticket here -->
<section class="train__ticket">
    <div class="container">
        <div class="row flex-row-reverse align-items-center justify-content-between">
            <div class="col-xxl-6 col-xl-6 col-lg-6">
                <div class="train__ticket__content">
                    <div class="section__header mb__30">
                        <h4>
                            მატარებლის ბილეთები
                        </h4>
                        <p>
                            რკინიგზის ბილეთების შესაძენად თქვენ დაგჭირდებათ თითოეული მგზავრის პირადი ნომერი. გთხოვთ მოამზადოთ ეს ინფორმაცია წინასწარ.
                        </p>
                    </div>
                    <ul class="offer__list pb__40">
                        <li>
                            <span class="thumb">
                                <img src="assets/img/train/unoffer.png" alt="img">
                            </span>
                            <span class="text">
                                შეუზღუდავი შეთავაზებები
                            </span>
                        </li>
                        <li>
                            <span class="thumb">
                                <img src="assets/img/train/suppor24.png" alt="img">
                            </span>
                            <span class="text">
                                24X7 მხარდაჭერა
                            </span>
                        </li>
                        <li>
                            <span class="thumb">
                                <img src="assets/img/train/secure100.png" alt="img">
                            </span>
                            <span class="text">
                                100% უსაფრთხო
                            </span>
                        </li>
                        <li>
                            <span class="thumb">
                                <img src="assets/img/train/truspay.png" alt="img">
                            </span>
                            <span class="text">
                               100% უსაფრთხო გადახდა
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xxl-5 col-xl-5 col-lg-5">
                <div class="trainticket__thumb">
                    <img src="assets/img/train/trainticket.png" alt="img">
                </div>
            </div>
        </div>
    </div>
</section>



