   <!-- breadcumnd banner Here -->
<section class="breadcumnd__banner">
    <!--Container-->
    <div class="container">
        <div class="breadcumnd__wrapper">
            <h2 class="bread__title">
                Train - Payment
            </h2>
            <ul class="breadcumnd__link">
                <li>
                    <a ng-click="changeActiveTab(webPages.Home)">
                        Home
                    </a>
                </li>
                <li>
                    <i class="material-symbols-outlined">
                        chevron_right
                    </i>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        Booking
                    </a>
                </li>
                <li>
                    <i class="material-symbols-outlined">
                        chevron_right
                    </i>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        Train
                    </a>
                </li>
                <li>
                    <i class="material-symbols-outlined">
                        chevron_right
                    </i>
                </li>
                <li>
                    Payment
                </li>
            </ul>
        </div>
    </div>
    <!--Container-->
</section>
<!-- breadcumnd banner End -->
<!-- payment here -->
<section class="payment__section pt__60 pb-120">
    <div class="container">
        <form name="creditCardInfo" id="creditCardInfo" class="col-md-12">
            <div class=" row col-md-12 justify-content-center">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <div class="checkout__single-wrapper">
                        <div class="checkout__single checkout__single__bg">
                            
                            <h4 class="mb__10">Payment Methods</h4>
                            <div class="transactionid d-flex align-items-center">
                                <span class="tran fz-18 fw-500">
                                    სულ გადასახდელი: {{ticketPriceSum}}.00₾
                                </span>
                            </div>

                            <div class="checkout__single-form">
                                <div class="row g-3" >
                                    <p class="mb__10 creditValidationText payment">*ყველა ველი აუცილებლად უნდა შეივსოს!!!</p>

                                    <div class="col-lg-12">
                                        <div class="input-single">
                                            <label for="userCardNumber">Card number</label>
                                            <input type="number" name="number" id="userCardNumber" placeholder="2456 1665 5155 5151" required ng-model="creditCardInfo.number">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="input-single">
                                            <label for="userCardDate">Expiry date</label>
                                            <input type="text" id="userCardDate" name="date" placeholder="DD/MM/YY" required ng-model="creditCardInfo.expDate">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="input-single">
                                            <label for="userCardName">CVC / CVV</label>
                                            <input type="text" name="cvv" id="userCardName" placeholder="3 digits" required ng-model="creditCardInfo.cvv">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="input-single">
                                            <label for="userCardNamecard">Name on card</label>
                                            <input type="text" name="namecard" id="userCardNamecard" placeholder="J. smith" required ng-model="creditCardInfo.nameOnCard">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center mt-4">
                                <button ng-click="changeActiveTab(webPages.PaymentResult); confirmTicketStatus(registeredTicketId)" class="cmn__btn" ng-disabled="registerTicketForm.$invalid">
                                    <span>
                                       გადახდა
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- payment end -->